body{
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'poppins', serif;
}
.foy-flex{
    display: flex;
}
.foy-justify-center{
    justify-content: center;
}
.foy-justify-space-beetween{
    justify-content: space-between;
}
.foy-block{
    display: block;
}
.foy-none{
    display: none;
}
.foy-m-0-a{
    margin: 0 auto;
}
.foy-text-center{
    text-align: center;
}
.foy-align-items-center{
    align-items: center;
}
.fow-w-300{
    max-width: 231px;
}
.fow-w-400{
    max-width: 331px;
}
.fow-w-500{
    max-width: 431px;
}.fow-w-600{
    max-width: 531px;
}
.fow-w-700{
    max-width: 631px;
}
.fow-w-800{
    max-width: 731px;
}
.fow-w-900{
    max-width: 831px;
}
.m-10{
    margin: 10px;
}
.p-10{
    padding: 10px;
}
.ms-10{
    margin-left: 10px;
}
.me-10{
    margin-right: 10px;
}
.mb-10{
    margin-bottom: 10px;
}
.mt-10{
    margin-top: 10px;
}
.foy-container {
    padding: 100px;
}